.header {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 30px;

  padding: 20px 0;
}


.actions {
  display: flex;
  align-items: center;

  gap: 14px;

  flex-shrink: 0;
}